.visa-ui-checkbox {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.visa-ui-checkbox+label.visa-ui-checkbox-label {
  background-color: var(--color-transparent, rgba(0, 0, 0, 0));
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1.42857rem;
  margin-bottom: 4px;
  margin-top: 4px;
  min-height: 1.42857rem;
  padding-bottom: .28571rem;
  padding-left: 40px;
  padding-right: .28571rem;
  padding-top: .28571rem;
  position: relative;
}

.visa-ui-checkbox + label.visa-ui-checkbox-label:empty {
  padding-bottom: 0;
  padding-right: 0 !important;
}

.visa-ui-checkbox + label.visa-ui-checkbox-label::before {
  /*Disabled CSS Variables in this file due to Edge bug*/
  /*https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/*/
  /*background-color: var(--color-transparent, rgba(0, 0, 0, 0));*/ 
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  border-radius: 2px;
  box-sizing: border-box;
  content: '';
  height: 40px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 40px;
}

.visa-ui-checkbox:focus+label.visa-ui-checkbox-label::before {
  /*background-color: var(--color-ice, #e0eafa);*/
  /*border: 1px dashed var(--color-night, #15195a);*/
  background-color: #e0eafa;
  border: 1px dashed #15195a;
}

.visa-ui-checkbox+label.visa-ui-checkbox-label::after {
 /* background-color: var(--color-white, #ffffff);
  border: 2px solid var(--color-blue, #003ea9);*/
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #ffffff;
  border: 2px solid #003ea9;
  border-radius: 2px;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 20px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.visa-ui-checkbox:focus+label.visa-ui-checkbox-label::after,
.visa-ui-checkbox:focus:checked+label.visa-ui-checkbox-label::after {
  /*border-color: var(--color-light-blue, #0051dc);*/
  border-color: #0051dc;
}

.visa-ui-checkbox:focus:checked+label.visa-ui-checkbox-label::after {
  /*background-color: var(--color-light-blue, #0051dc);*/
  background-color: #0051dc;
}

.visa-ui-checkbox:checked+label.visa-ui-checkbox-label::after {
  /*background-color: var(--color-blue, #003ea9);*/
  /*content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0.3 16 16' width='100%' height='100%'><path fill='%23ffffff' d='M13.9,3.7c-0.4-0.4-1-0.4-1.4,0l-6.6,6.6L3.5,7.9c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l3,3 c0.4,0.4,1,0.4,1.4,0l7.3-7.3C14.3,4.7,14.3,4,13.9,3.7z'></path></svg>");*/
  background-color: #003ea9;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 1 16 16' width='16px' height='16px'%3E%3Cpath fill='%23ffffff' d='M13.9,3.7c-0.4-0.4-1-0.4-1.4,0l-6.6,6.6L3.5,7.9c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l3,3 c0.4,0.4,1,0.4,1.4,0l7.3-7.3C14.3,4.7,14.3,4,13.9,3.7z'%3E%3C/path%3E%3C/svg%3E");
}

.visa-ui-checkbox:active+label.visa-ui-checkbox-label::before {
  /*background-color: var(--color-ice, #e0eafa);
  border-color: var(--color-transparent, rgba(0, 0, 0, 0));*/
  background-color: #e0eafa;
  border-color: rgba(0, 0, 0, 0);
}

.visa-ui-checkbox:disabled+label.visa-ui-checkbox-label {
  /*color: var(--color-cloudy, #b4b4c6);*/
  color: #b4b4c6;
  pointer-events: none;
}

.visa-ui-checkbox:disabled+label.visa-ui-checkbox-label::after {
  /*border-color: var(--color-cloudy, #b4b4c6);*/
  border-color: #b4b4c6;
}

.visa-ui-checkbox:invalid:not(:disabled) +label.visa-ui-checkbox-label::after {
  border-color: #d50000;
}

.visa-ui-checkbox:invalid:checked:not(:disabled) +label.visa-ui-checkbox-label::after {
  background-color: #d50000;
}

.visa-ui-checkbox:invalid:indeterminate:not(:disabled) +label.visa-ui-checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect stroke-width='0' fill='%23d50000' height='10' width='10' ry='2' rx='2' y='3' x='3'/%3E%3C/svg%3E");
}

.visa-ui-checkbox:checked:disabled+label.visa-ui-checkbox-label::after {
  /*background-color: var(--color-cloudy, #b4b4c6);*/
  background-color: #b4b4c6;
}

.visa-ui-checkbox:indeterminate+label.visa-ui-checkbox-label::after,
.visa-ui-checkbox.visa-ui-checkbox--indeterminate+label.visa-ui-checkbox-label::after {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect stroke-width='0' fill='%23003ea9' height='10' width='10' ry='2' rx='2' y='3' x='3'/%3E%3C/svg%3E");
  content: '';
}

.visa-ui-checkbox:focus:indeterminate+label.visa-ui-checkbox-label::after,
.visa-ui-checkbox.visa-ui-checkbox--indeterminate+label.visa-ui-checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect stroke-width='0' fill='%230051dc' height='10' width='10' ry='2' rx='2' y='3' x='3'/%3E%3C/svg%3E");
}

.visa-ui-checkbox:disabled:indeterminate+label.visa-ui-checkbox-label::after,
.visa-ui-checkbox.visa-ui-checkbox--indeterminate+label.visa-ui-checkbox-label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect stroke-width='0' fill='%23b4b4c6' height='10' width='10' ry='2' rx='2' y='3' x='3'/%3E%3C/svg%3E");
}

.visa-ui-checkbox--error {
  align-items: center;
  display: inline-flex;
  color: #d50000;
  fill: #d50000;
}

.visa-ui-checkbox--error svg{
  height: 16px;
  margin: 0 4px;
  width: 16px;
}